* {
    font-family: 'nyt-franklin';
}

#boxes-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.solved-box {
    background-color: grey;
    border-radius: 6px;
    font-size: 20px;
    width: 30em;
    height: 4em;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2px;
}

.solved-box > input {
    border: 0px;
    background-color: transparent;
    text-align: center;
    text-transform: uppercase;
    width: 80%;
}

.solved-box > input:focus {
    border: 0px;
    background-color: transparent;
    outline: none;
}
.category-input {
    font-family: 'nyt-franklin-700';
    font-weight: 700;
    font-size: 20px;
    max-width: 75%;
    font-stretch: 100%;
}

.words-input {
    font-family: 'nyt-franklin-500';
    font-kerning: auto;
    font-optical-sizing: auto;
    font-size: 18px;
    max-width: 85%;
}

button {
    min-width: 10em;
    min-height: 3em;
    font-size: 16px;
    background-color: white;
    color: black;
    border: 2px solid black;
    border-radius: 32px;
    cursor: pointer;
}

#error-ribbon {
    background-color: rgb(255, 135, 135);
    height: 2em;
    padding-left: 5px;
    padding-right: 20px;
    border-radius: 3px;
    font-size: 12px;
    
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;

    opacity: 0%;
}

#done-popup {
    position: absolute;
    background-color: white;
    border-radius: 4px;
    width: 30vw;
    height: auto;
    padding-bottom: 55px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 3px 12px -1px;

    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
}

#popup-close {
    background-color: transparent;
    border: none;
    cursor: pointer;
    min-width: auto;
}

#popup-content {
    width: 80%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;

}